.navbar_init{
    background-color: #1f8a70;

}
.novedades_main{
    background-color: #EFF5F5;
}
main{
    background-color: #FC7300;
}
footer{
    height: auto;
    background-color: #00425a;
    color: #EFF5F5;
}