 main.hexagonos{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    background-color: #fc7300;
    transform: rotate(90deg);
  }
  
  .hex-container {
    display: flex;
    align-items: center;
  }
  
  .hexagon {
    width: 200px;
    height: 150px;
    background-color: #1f8a70;
    position: relative;
    margin: 0 10px;
  }
  
  .hexagon:before,
  .hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
  }
  
  .hexagon:before {
    top: -50px;
    border-bottom: 50px solid #1f8a70;
  }
  
  .hexagon:after {
    bottom: -50px;
    border-top: 50px solid #1f8a70;
  }
  